@import "../styles-mixins/variables.scss";

.Icon {
	font-family: 'Material Icons';
	
	&--font-outlined {
		font-family: 'Material Icons Outlined';
	}
	
	&--font-round {
		font-family: 'Material Icons Round';
	}
	
	&--font-sharp {
		font-family: 'Material Icons Sharp';
	}
	
	&--font-two-tone {
		font-family: 'Material Icons Two Tone';
	}

	font-weight: normal;
	font-style: normal;
	font-size: $main-icon-size;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';

	&--360::before { content: '\E577'; }
	&--1k_plus::before { content: '\E95D'; }
	&--19mp::before { content: '\E95B'; }
	&--18mp::before { content: '\E95A'; }
	&--17mp::before { content: '\E959'; }
	&--16mp::before { content: '\E958'; }
	&--15mp::before { content: '\E957'; }
	&--14mp::before { content: '\E956'; }
	&--13mp::before { content: '\E955'; }
	&--12mp::before { content: '\E954'; }
	&--11mp::before { content: '\E953'; }
	&--10mp::before { content: '\E952'; }
	&--10k::before { content: '\E951'; }
	&--1k::before { content: '\E95C'; }
	&--2k_plus::before { content: '\E964'; }
	&--24mp::before { content: '\E962'; }
	&--23mp::before { content: '\E961'; }
	&--22mp::before { content: '\E960'; }
	&--21mp::before { content: '\E95F'; }
	&--20mp::before { content: '\E95E'; }
	&--2mp::before { content: '\E965'; }
	&--2k::before { content: '\E963'; }
	&--3d_rotation::before { content: '\E84D'; }
	&--3k_plus::before { content: '\E967'; }
	&--3mp::before { content: '\E968'; }
	&--3k::before { content: '\E966'; }
	&--4k_plus::before { content: '\E969'; }
	&--4mp::before { content: '\E96A'; }
	&--4k::before { content: '\E072'; }
	&--5mp::before { content: '\E96D'; }
	&--5k_plus::before { content: '\E96C'; }
	&--5k::before { content: '\E96B'; }
	&--5g::before { content: '\EF38'; }
	&--6k_plus::before { content: '\E96F'; }
	&--6mp::before { content: '\E970'; }
	&--6k::before { content: '\E96E'; }
	&--7k_plus::before { content: '\E972'; }
	&--7mp::before { content: '\E973'; }
	&--7k::before { content: '\E971'; }
	&--8k_plus::before { content: '\E975'; }
	&--8mp::before { content: '\E976'; }
	&--8k::before { content: '\E974'; }
	&--9k_plus::before { content: '\E978'; }
	&--9mp::before { content: '\E979'; }
	&--9k::before { content: '\E977'; }
	&--av_timer::before { content: '\E01B'; }
	&--autorenew::before { content: '\E863'; }
	&--auto_stories::before { content: '\E666'; }
	&--auto_fix_off::before { content: '\E665'; }
	&--auto_fix_normal::before { content: '\E664'; }
	&--auto_fix_high::before { content: '\E663'; }
	&--auto_delete::before { content: '\EA4C'; }
	&--auto_awesome_motion::before { content: '\E661'; }
	&--auto_awesome_mosaic::before { content: '\E660'; }
	&--auto_awesome::before { content: '\E65F'; }
	&--audiotrack::before { content: '\E3A1'; }
	&--attractions::before { content: '\EA52'; }
	&--attachment::before { content: '\E2BC'; }
	&--attach_money::before { content: '\E227'; }
	&--attach_file::before { content: '\E226'; }
	&--attach_email::before { content: '\EA5E'; }
	&--atm::before { content: '\E573'; }
	&--assistant_photo::before { content: '\E3A0'; }
	&--assistant_navigation::before { content: '\E989'; }
	&--assistant_direction::before { content: '\E988'; }
	&--assistant::before { content: '\E39F'; }
	&--assignment_turned_in::before { content: '\E862'; }
	&--assignment_returned::before { content: '\E861'; }
	&--assignment_return::before { content: '\E860'; }
	&--assignment_late::before { content: '\E85F'; }
	&--assignment_ind::before { content: '\E85E'; }
	&--assignment::before { content: '\E85D'; }
	&--assessment::before { content: '\E85C'; }
	&--aspect_ratio::before { content: '\E85B'; }
	&--article::before { content: '\EF42'; }
	&--art_track::before { content: '\E060'; }
	&--arrow_upward::before { content: '\E5D8'; }
	&--arrow_right_alt::before { content: '\E941'; }
	&--arrow_right::before { content: '\E5DF'; }
	&--arrow_left::before { content: '\E5DE'; }
	&--arrow_forward_ios::before { content: '\E5E1'; }
	&--arrow_forward::before { content: '\E5C8'; }
	&--arrow_drop_up::before { content: '\E5C7'; }
	&--arrow_drop_down_circle::before { content: '\E5C6'; }
	&--arrow_drop_down::before { content: '\E5C5'; }
	&--arrow_downward::before { content: '\E5DB'; }
	&--arrow_circle_up::before { content: '\F182'; }
	&--arrow_circle_down::before { content: '\F181'; }
	&--arrow_back_ios::before { content: '\E5E0'; }
	&--arrow_back::before { content: '\E5C4'; }
	&--archive::before { content: '\E149'; }
	&--architecture::before { content: '\EA3B'; }
	&--apps::before { content: '\E5C3'; }
	&--approval::before { content: '\E982'; }
	&--app_settings_alt::before { content: '\EF41'; }
	&--app_registration::before { content: '\EF40'; }
	&--app_blocking::before { content: '\EF3F'; }
	&--api::before { content: '\F1B7'; }
	&--apartment::before { content: '\EA40'; }
	&--announcement::before { content: '\E85A'; }
	&--animation::before { content: '\E71C'; }
	&--android::before { content: '\E859'; }
	&--anchor::before { content: '\F1CD'; }
	&--analytics::before { content: '\EF3E'; }
	&--amp_stories::before { content: '\EA13'; }
	&--alternate_email::before { content: '\E0E6'; }
	&--alt_route::before { content: '\F184'; }
	&--all_out::before { content: '\E90B'; }
	&--all_inclusive::before { content: '\EB3D'; }
	&--all_inbox::before { content: '\E97F'; }
	&--album::before { content: '\E019'; }
	&--alarm_on::before { content: '\E858'; }
	&--alarm_off::before { content: '\E857'; }
	&--alarm_add::before { content: '\E856'; }
	&--alarm::before { content: '\E855'; }
	&--airport_shuttle::before { content: '\EB3C'; }
	&--airplay::before { content: '\E055'; }
	&--airplanemode_on::before { content: '\E195'; }
	&--airplanemode_off::before { content: '\E194'; }
	&--airplanemode_inactive::before { content: '\E194'; }
	&--airplanemode_active::before { content: '\E195'; }
	&--airline_seat_recline_normal::before { content: '\E637'; }
	&--airline_seat_recline_extra::before { content: '\E636'; }
	&--airline_seat_legroom_reduced::before { content: '\E635'; }
	&--airline_seat_legroom_normal::before { content: '\E634'; }
	&--airline_seat_legroom_extra::before { content: '\E633'; }
	&--airline_seat_individual_suite::before { content: '\E632'; }
	&--airline_seat_flat_angled::before { content: '\E631'; }
	&--airline_seat_flat::before { content: '\E630'; }
	&--agriculture::before { content: '\EA79'; }
	&--admin_panel_settings::before { content: '\EF3D'; }
	&--adjust::before { content: '\E39E'; }
	&--addchart::before { content: '\EF3C'; }
	&--add_to_queue::before { content: '\E05C'; }
	&--add_to_photos::before { content: '\E39D'; }
	&--add_to_home_screen::before { content: '\E1FE'; }
	&--add_to_drive::before { content: '\E65C'; }
	&--add_shopping_cart::before { content: '\E854'; }
	&--add_road::before { content: '\EF3B'; }
	&--add_photo_alternate::before { content: '\E43E'; }
	&--add_moderator::before { content: '\E97D'; }
	&--add_location_alt::before { content: '\EF3A'; }
	&--add_location::before { content: '\E567'; }
	&--add_link::before { content: '\E178'; }
	&--add_ic_call::before { content: '\E97C'; }
	&--add_comment::before { content: '\E266'; }
	&--add_circle_outline::before { content: '\E148'; }
	&--add_circle::before { content: '\E147'; }
	&--add_chart::before { content: '\E97B'; }
	&--add_call::before { content: '\E0E8'; }
	&--add_business::before { content: '\E729'; }
	&--add_box::before { content: '\E146'; }
	&--add_alert::before { content: '\E003'; }
	&--add_alarm::before { content: '\E193'; }
	&--add_a_photo::before { content: '\E439'; }
	&--add::before { content: '\E145'; }
	&--adb::before { content: '\E60E'; }
	&--ad_units::before { content: '\EF39'; }
	&--account_tree::before { content: '\E97A'; }
	&--account_circle::before { content: '\E853'; }
	&--account_box::before { content: '\E851'; }
	&--account_balance_wallet::before { content: '\E850'; }
	&--account_balance::before { content: '\E84F'; }
	&--accessible_forward::before { content: '\E934'; }
	&--accessible::before { content: '\E914'; }
	&--accessibility_new::before { content: '\E92C'; }
	&--accessibility::before { content: '\E84E'; }
	&--access_time::before { content: '\E192'; }
	&--access_alarms::before { content: '\E191'; }
	&--access_alarm::before { content: '\E190'; }
	&--ac_unit::before { content: '\EB3B'; }
	&--business_center::before { content: '\EB3F'; }
	&--business::before { content: '\E0AF'; }
	&--bus_alert::before { content: '\E98F'; }
	&--burst_mode::before { content: '\E43C'; }
	&--build_circle::before { content: '\EF48'; }
	&--build::before { content: '\E869'; }
	&--bug_report::before { content: '\E868'; }
	&--bubble_chart::before { content: '\E6DD'; }
	&--brush::before { content: '\E3AE'; }
	&--brunch_dining::before { content: '\EA73'; }
	&--browser_not_supported::before { content: '\EF47'; }
	&--broken_image::before { content: '\E3AD'; }
	&--brightness_medium::before { content: '\E1AE'; }
	&--brightness_low::before { content: '\E1AD'; }
	&--brightness_high::before { content: '\E1AC'; }
	&--brightness_auto::before { content: '\E1AB'; }
	&--brightness_7::before { content: '\E3AC'; }
	&--brightness_6::before { content: '\E3AB'; }
	&--brightness_5::before { content: '\E3AA'; }
	&--brightness_4::before { content: '\E3A9'; }
	&--brightness_3::before { content: '\E3A8'; }
	&--brightness_2::before { content: '\E3A7'; }
	&--brightness_1::before { content: '\E3A6'; }
	&--breakfast_dining::before { content: '\EA54'; }
	&--branding_watermark::before { content: '\E06B'; }
	&--border_vertical::before { content: '\E233'; }
	&--border_top::before { content: '\E232'; }
	&--border_style::before { content: '\E231'; }
	&--border_right::before { content: '\E230'; }
	&--border_outer::before { content: '\E22F'; }
	&--border_left::before { content: '\E22E'; }
	&--border_inner::before { content: '\E22D'; }
	&--border_horizontal::before { content: '\E22C'; }
	&--border_color::before { content: '\E22B'; }
	&--border_clear::before { content: '\E22A'; }
	&--border_bottom::before { content: '\E229'; }
	&--border_all::before { content: '\E228'; }
	&--bookmarks::before { content: '\E98B'; }
	&--bookmark_outline::before { content: '\E867'; }
	&--bookmark_border::before { content: '\E867'; }
	&--bookmark::before { content: '\E866'; }
	&--book::before { content: '\E865'; }
	&--bolt::before { content: '\EA0B'; }
	&--blur_on::before { content: '\E3A5'; }
	&--blur_off::before { content: '\E3A4'; }
	&--blur_linear::before { content: '\E3A3'; }
	&--blur_circular::before { content: '\E3A2'; }
	&--bluetooth_searching::before { content: '\E1AA'; }
	&--bluetooth_disabled::before { content: '\E1A9'; }
	&--bluetooth_connected::before { content: '\E1A8'; }
	&--bluetooth_audio::before { content: '\E60F'; }
	&--bluetooth::before { content: '\E1A7'; }
	&--block_flipped::before { content: '\EF46'; }
	&--block::before { content: '\E14B'; }
	&--biotech::before { content: '\EA3A'; }
	&--bike_scooter::before { content: '\EF45'; }
	&--bento::before { content: '\F1F4'; }
	&--beenhere::before { content: '\E52D'; }
	&--bedtime::before { content: '\EF44'; }
	&--beach_access::before { content: '\EB3E'; }
	&--battery_unknown::before { content: '\E1A6'; }
	&--battery_std::before { content: '\E1A5'; }
	&--battery_full::before { content: '\E1A4'; }
	&--battery_charging_full::before { content: '\E1A3'; }
	&--battery_alert::before { content: '\E19C'; }
	&--bathtub::before { content: '\EA41'; }
	&--batch_prediction::before { content: '\F0F5'; }
	&--bar_chart::before { content: '\E26B'; }
	&--ballot::before { content: '\E172'; }
	&--bakery_dining::before { content: '\EA53'; }
	&--badge::before { content: '\EA67'; }
	&--backup_table::before { content: '\EF43'; }
	&--backup::before { content: '\E864'; }
	&--backspace::before { content: '\E14A'; }
	&--backpack::before { content: '\F19C'; }
	&--baby_changing_station::before { content: '\F19B'; }
	&--crop_square::before { content: '\E3C6'; }
	&--crop_rotate::before { content: '\E437'; }
	&--crop_portrait::before { content: '\E3C5'; }
	&--crop_original::before { content: '\E3C4'; }
	&--crop_landscape::before { content: '\E3C3'; }
	&--crop_free::before { content: '\E3C2'; }
	&--crop_din::before { content: '\E3C1'; }
	&--crop_7_5::before { content: '\E3C0'; }
	&--crop_5_4::before { content: '\E3BF'; }
	&--crop_3_2::before { content: '\E3BD'; }
	&--crop_16_9::before { content: '\E3BC'; }
	&--crop::before { content: '\E3BE'; }
	&--credit_card::before { content: '\E870'; }
	&--create_new_folder::before { content: '\E2CC'; }
	&--create::before { content: '\E150'; }
	&--countertops::before { content: '\F1F7'; }
	&--corporate_fare::before { content: '\F1D0'; }
	&--copyright::before { content: '\E90C'; }
	&--control_point_duplicate::before { content: '\E3BB'; }
	&--control_point::before { content: '\E3BA'; }
	&--control_camera::before { content: '\E074'; }
	&--content_paste::before { content: '\E14F'; }
	&--content_cut::before { content: '\E14E'; }
	&--content_copy::before { content: '\E14D'; }
	&--contacts::before { content: '\E0BA'; }
	&--contactless::before { content: '\EA71'; }
	&--contact_support::before { content: '\E94C'; }
	&--contact_phone::before { content: '\E0CF'; }
	&--contact_mail::before { content: '\E0D0'; }
	&--construction::before { content: '\EA3C'; }
	&--connected_tv::before { content: '\E998'; }
	&--confirmation_number::before { content: '\E638'; }
	&--confirmation_num::before { content: '\E638'; }
	&--computer::before { content: '\E30A'; }
	&--compress::before { content: '\E94D'; }
	&--compass_calibration::before { content: '\E57C'; }
	&--compare_arrows::before { content: '\E915'; }
	&--compare::before { content: '\E3B9'; }
	&--commute::before { content: '\E940'; }
	&--comment_bank::before { content: '\EA4E'; }
	&--comment::before { content: '\E0B9'; }
	&--colorize::before { content: '\E3B8'; }
	&--color_lens::before { content: '\E3B7'; }
	&--collections_bookmark::before { content: '\E431'; }
	&--collections::before { content: '\E3B6'; }
	&--code::before { content: '\E86F'; }
	&--cloud_upload::before { content: '\E2C3'; }
	&--cloud_queue::before { content: '\E2C2'; }
	&--cloud_off::before { content: '\E2C1'; }
	&--cloud_download::before { content: '\E2C0'; }
	&--cloud_done::before { content: '\E2BF'; }
	&--cloud_circle::before { content: '\E2BE'; }
	&--cloud::before { content: '\E2BD'; }
	&--closed_caption_off::before { content: '\E996'; }
	&--closed_caption_disabled::before { content: '\F1DC'; }
	&--closed_caption::before { content: '\E01C'; }
	&--close_fullscreen::before { content: '\F1CF'; }
	&--close::before { content: '\E5CD'; }
	&--clear_all::before { content: '\E0B8'; }
	&--clear::before { content: '\E14C'; }
	&--cleaning_services::before { content: '\F0FF'; }
	&--class::before { content: '\E86E'; }
	&--circle_notifications::before { content: '\E994'; }
	&--circle::before { content: '\EF4A'; }
	&--chrome_reader_mode::before { content: '\E86D'; }
	&--child_friendly::before { content: '\EB42'; }
	&--child_care::before { content: '\EB41'; }
	&--chevron_right::before { content: '\E5CC'; }
	&--chevron_left::before { content: '\E5CB'; }
	&--checkroom::before { content: '\F19E'; }
	&--check_circle_outline::before { content: '\E92D'; }
	&--check_circle::before { content: '\E86C'; }
	&--check_box_outline_blank::before { content: '\E835'; }
	&--check_box::before { content: '\E834'; }
	&--check::before { content: '\E5CA'; }
	&--chat_bubble_outline::before { content: '\E0CB'; }
	&--chat_bubble::before { content: '\E0CA'; }
	&--chat::before { content: '\E0B7'; }
	&--charging_station::before { content: '\F19D'; }
	&--change_history::before { content: '\E86B'; }
	&--center_focus_weak::before { content: '\E3B5'; }
	&--center_focus_strong::before { content: '\E3B4'; }
	&--cell_wifi::before { content: '\E0EC'; }
	&--celebration::before { content: '\EA65'; }
	&--category::before { content: '\E574'; }
	&--cast_for_education::before { content: '\EFEC'; }
	&--cast_connected::before { content: '\E308'; }
	&--cast::before { content: '\E307'; }
	&--casino::before { content: '\EB40'; }
	&--cases::before { content: '\E992'; }
	&--carpenter::before { content: '\F1F8'; }
	&--card_travel::before { content: '\E8F8'; }
	&--card_membership::before { content: '\E8F7'; }
	&--card_giftcard::before { content: '\E8F6'; }
	&--car_repair::before { content: '\EA56'; }
	&--car_rental::before { content: '\EA55'; }
	&--cancel_schedule_send::before { content: '\EA39'; }
	&--cancel_presentation::before { content: '\E0E9'; }
	&--cancel::before { content: '\E5C9'; }
	&--campaign::before { content: '\EF49'; }
	&--camera_roll::before { content: '\E3B3'; }
	&--camera_rear::before { content: '\E3B2'; }
	&--camera_front::before { content: '\E3B1'; }
	&--camera_enhance::before { content: '\E8FC'; }
	&--camera_alt::before { content: '\E3B0'; }
	&--camera::before { content: '\E3AF'; }
	&--call_to_action::before { content: '\E06C'; }
	&--call_split::before { content: '\E0B6'; }
	&--call_received::before { content: '\E0B5'; }
	&--call_missed_outgoing::before { content: '\E0E4'; }
	&--call_missed::before { content: '\E0B4'; }
	&--call_merge::before { content: '\E0B3'; }
	&--call_made::before { content: '\E0B2'; }
	&--call_end::before { content: '\E0B1'; }
	&--call::before { content: '\E0B0'; }
	&--calendar_view_day::before { content: '\E936'; }
	&--calendar_today::before { content: '\E935'; }
	&--calculate::before { content: '\EA5F'; }
	&--cake::before { content: '\E7E9'; }
	&--cached::before { content: '\E86A'; }
	&--dynamic_form::before { content: '\F1BF'; }
	&--dynamic_feed::before { content: '\EA14'; }
	&--dvr::before { content: '\E1B2'; }
	&--duo::before { content: '\E9A5'; }
	&--dry_cleaning::before { content: '\EA58'; }
	&--dry::before { content: '\F1B3'; }
	&--drive_folder_upload::before { content: '\E9A3'; }
	&--drive_file_rename_outline::before { content: '\E9A2'; }
	&--drive_file_move_outline::before { content: '\E9A1'; }
	&--drive_file_move::before { content: '\E675'; }
	&--drive_eta::before { content: '\E613'; }
	&--drag_indicator::before { content: '\E945'; }
	&--drag_handle::before { content: '\E25D'; }
	&--drafts::before { content: '\E151'; }
	&--double_arrow::before { content: '\EA50'; }
	&--donut_small::before { content: '\E918'; }
	&--donut_large::before { content: '\E917'; }
	&--done_outline::before { content: '\E92F'; }
	&--done_all::before { content: '\E877'; }
	&--done::before { content: '\E876'; }
	&--domain_verification::before { content: '\EF4C'; }
	&--domain_disabled::before { content: '\E0EF'; }
	&--domain::before { content: '\E7EE'; }
	&--dock::before { content: '\E30E'; }
	&--do_not_touch::before { content: '\F1B0'; }
	&--do_not_step::before { content: '\F19F'; }
	&--do_not_disturb_on::before { content: '\E644'; }
	&--do_not_disturb_off::before { content: '\E643'; }
	&--do_not_disturb_alt::before { content: '\E611'; }
	&--do_not_disturb::before { content: '\E612'; }
	&--dns::before { content: '\E875'; }
	&--dnd_forwardslash::before { content: '\E611'; }
	&--disc_full::before { content: '\E610'; }
	&--dirty_lens::before { content: '\EF4B'; }
	&--directions_walk::before { content: '\E536'; }
	&--directions_transit::before { content: '\E535'; }
	&--directions_train::before { content: '\E534'; }
	&--directions_subway::before { content: '\E533'; }
	&--directions_run::before { content: '\E566'; }
	&--directions_railway::before { content: '\E534'; }
	&--directions_off::before { content: '\F10F'; }
	&--directions_ferry::before { content: '\E532'; }
	&--directions_car::before { content: '\E531'; }
	&--directions_bus::before { content: '\E530'; }
	&--directions_boat::before { content: '\E532'; }
	&--directions_bike::before { content: '\E52F'; }
	&--directions::before { content: '\E52E'; }
	&--dinner_dining::before { content: '\EA57'; }
	&--dialpad::before { content: '\E0BC'; }
	&--dialer_sip::before { content: '\E0BB'; }
	&--devices_other::before { content: '\E337'; }
	&--devices::before { content: '\E1B1'; }
	&--device_unknown::before { content: '\E339'; }
	&--device_thermostat::before { content: '\E1FF'; }
	&--device_hub::before { content: '\E335'; }
	&--developer_mode::before { content: '\E1B0'; }
	&--developer_board::before { content: '\E30D'; }
	&--details::before { content: '\E3C8'; }
	&--desktop_windows::before { content: '\E30C'; }
	&--desktop_mac::before { content: '\E30B'; }
	&--desktop_access_disabled::before { content: '\E99D'; }
	&--design_services::before { content: '\F10A'; }
	&--description::before { content: '\E873'; }
	&--departure_board::before { content: '\E576'; }
	&--delivery_dining::before { content: '\EA72'; }
	&--delete_sweep::before { content: '\E16C'; }
	&--delete_outline::before { content: '\E92E'; }
	&--delete_forever::before { content: '\E92B'; }
	&--delete::before { content: '\E872'; }
	&--dehaze::before { content: '\E3C7'; }
	&--deck::before { content: '\EA42'; }
	&--date_range::before { content: '\E916'; }
	&--data_usage::before { content: '\E1AF'; }
	&--dashboard_customize::before { content: '\E99B'; }
	&--dashboard::before { content: '\E871'; }
	&--dangerous::before { content: '\E99A'; }
	&--extension::before { content: '\E87B'; }
	&--exposure_zero::before { content: '\E3CF'; }
	&--exposure_plus_2::before { content: '\E3CE'; }
	&--exposure_plus_1::before { content: '\E3CD'; }
	&--exposure_neg_2::before { content: '\E3CC'; }
	&--exposure_neg_1::before { content: '\E3CB'; }
	&--exposure_minus_2::before { content: '\E3CC'; }
	&--exposure_minus_1::before { content: '\E3CB'; }
	&--exposure::before { content: '\E3CA'; }
	&--explore_off::before { content: '\E9A8'; }
	&--explore::before { content: '\E87A'; }
	&--explicit::before { content: '\E01E'; }
	&--expand_more::before { content: '\E5CF'; }
	&--expand_less::before { content: '\E5CE'; }
	&--expand::before { content: '\E94F'; }
	&--exit_to_app::before { content: '\E879'; }
	&--event_seat::before { content: '\E903'; }
	&--event_note::before { content: '\E616'; }
	&--event_busy::before { content: '\E615'; }
	&--event_available::before { content: '\E614'; }
	&--event::before { content: '\E878'; }
	&--ev_station::before { content: '\E56D'; }
	&--euro_symbol::before { content: '\E926'; }
	&--euro::before { content: '\EA15'; }
	&--escalator_warning::before { content: '\F1AC'; }
	&--escalator::before { content: '\F1A1'; }
	&--error_outline::before { content: '\E001'; }
	&--error::before { content: '\E000'; }
	&--equalizer::before { content: '\E01D'; }
	&--enhanced_encryption::before { content: '\E63F'; }
	&--enhance_photo_translate::before { content: '\E8FC'; }
	&--engineering::before { content: '\EA3D'; }
	&--emoji_transportation::before { content: '\EA1F'; }
	&--emoji_symbols::before { content: '\EA1E'; }
	&--emoji_people::before { content: '\EA1D'; }
	&--emoji_objects::before { content: '\EA24'; }
	&--emoji_nature::before { content: '\EA1C'; }
	&--emoji_food_beverage::before { content: '\EA1B'; }
	&--emoji_flags::before { content: '\EA1A'; }
	&--emoji_events::before { content: '\EA23'; }
	&--emoji_emotions::before { content: '\EA22'; }
	&--email::before { content: '\E0BE'; }
	&--elevator::before { content: '\F1A0'; }
	&--electrical_services::before { content: '\F102'; }
	&--electric_scooter::before { content: '\EB1F'; }
	&--electric_rickshaw::before { content: '\EB1E'; }
	&--electric_moped::before { content: '\EB1D'; }
	&--electric_car::before { content: '\EB1C'; }
	&--electric_bike::before { content: '\EB1B'; }
	&--eject::before { content: '\E8FB'; }
	&--edit_road::before { content: '\EF4D'; }
	&--edit_off::before { content: '\E950'; }
	&--edit_location::before { content: '\E568'; }
	&--edit_attributes::before { content: '\E578'; }
	&--edit::before { content: '\E3C9'; }
	&--eco::before { content: '\EA35'; }
	&--east::before { content: '\F1DF'; }
	&--functions::before { content: '\E24A'; }
	&--fullscreen_exit::before { content: '\E5D1'; }
	&--fullscreen::before { content: '\E5D0'; }
	&--free_breakfast::before { content: '\EB44'; }
	&--foundation::before { content: '\F200'; }
	&--forward_to_inbox::before { content: '\F187'; }
	&--forward_5::before { content: '\E058'; }
	&--forward_30::before { content: '\E057'; }
	&--forward_10::before { content: '\E056'; }
	&--forward::before { content: '\E154'; }
	&--forum::before { content: '\E0BF'; }
	&--format_underlined::before { content: '\E249'; }
	&--format_underline::before { content: '\E249'; }
	&--format_textdirection_r_to_l::before { content: '\E248'; }
	&--format_textdirection_l_to_r::before { content: '\E247'; }
	&--format_strikethrough::before { content: '\E246'; }
	&--format_size::before { content: '\E245'; }
	&--format_shapes::before { content: '\E25E'; }
	&--format_quote::before { content: '\E244'; }
	&--format_paint::before { content: '\E243'; }
	&--format_list_numbered_rtl::before { content: '\E267'; }
	&--format_list_numbered::before { content: '\E242'; }
	&--format_list_bulleted::before { content: '\E241'; }
	&--format_line_spacing::before { content: '\E240'; }
	&--format_italic::before { content: '\E23F'; }
	&--format_indent_increase::before { content: '\E23E'; }
	&--format_indent_decrease::before { content: '\E23D'; }
	&--format_color_text::before { content: '\E23C'; }
	&--format_color_reset::before { content: '\E23B'; }
	&--format_color_fill::before { content: '\E23A'; }
	&--format_clear::before { content: '\E239'; }
	&--format_bold::before { content: '\E238'; }
	&--format_align_right::before { content: '\E237'; }
	&--format_align_left::before { content: '\E236'; }
	&--format_align_justify::before { content: '\E235'; }
	&--format_align_center::before { content: '\E234'; }
	&--food_bank::before { content: '\F1F2'; }
	&--font_download::before { content: '\E167'; }
	&--folder_special::before { content: '\E617'; }
	&--folder_shared::before { content: '\E2C9'; }
	&--folder_open::before { content: '\E2C8'; }
	&--folder::before { content: '\E2C7'; }
	&--flip_to_front::before { content: '\E883'; }
	&--flip_to_back::before { content: '\E882'; }
	&--flip_camera_ios::before { content: '\EA38'; }
	&--flip_camera_android::before { content: '\EA37'; }
	&--flip::before { content: '\E3E8'; }
	&--flight_takeoff::before { content: '\E905'; }
	&--flight_land::before { content: '\E904'; }
	&--flight::before { content: '\E539'; }
	&--flash_on::before { content: '\E3E7'; }
	&--flash_off::before { content: '\E3E6'; }
	&--flash_auto::before { content: '\E3E5'; }
	&--flare::before { content: '\E3E4'; }
	&--flaky::before { content: '\EF50'; }
	&--flag::before { content: '\E153'; }
	&--fitness_center::before { content: '\EB43'; }
	&--fit_screen::before { content: '\EA10'; }
	&--first_page::before { content: '\E5DC'; }
	&--fireplace::before { content: '\EA43'; }
	&--fire_hydrant::before { content: '\F1A3'; }
	&--fire_extinguisher::before { content: '\F1D8'; }
	&--fingerprint::before { content: '\E90D'; }
	&--find_replace::before { content: '\E881'; }
	&--find_in_page::before { content: '\E880'; }
	&--filter_vintage::before { content: '\E3E3'; }
	&--filter_tilt_shift::before { content: '\E3E2'; }
	&--filter_none::before { content: '\E3E0'; }
	&--filter_list_alt::before { content: '\E94E'; }
	&--filter_list::before { content: '\E152'; }
	&--filter_hdr::before { content: '\E3DF'; }
	&--filter_frames::before { content: '\E3DE'; }
	&--filter_drama::before { content: '\E3DD'; }
	&--filter_center_focus::before { content: '\E3DC'; }
	&--filter_b_and_w::before { content: '\E3DB'; }
	&--filter_alt::before { content: '\EF4F'; }
	&--filter_9_plus::before { content: '\E3DA'; }
	&--filter_9::before { content: '\E3D9'; }
	&--filter_8::before { content: '\E3D8'; }
	&--filter_7::before { content: '\E3D7'; }
	&--filter_6::before { content: '\E3D6'; }
	&--filter_5::before { content: '\E3D5'; }
	&--filter_4::before { content: '\E3D4'; }
	&--filter_3::before { content: '\E3D2'; }
	&--filter_2::before { content: '\E3D1'; }
	&--filter_1::before { content: '\E3D0'; }
	&--filter::before { content: '\E3D3'; }
	&--file_upload::before { content: '\E2C6'; }
	&--file_present::before { content: '\EA0E'; }
	&--file_download_done::before { content: '\E9AA'; }
	&--file_download::before { content: '\E2C4'; }
	&--file_copy::before { content: '\E173'; }
	&--fiber_smart_record::before { content: '\E062'; }
	&--fiber_pin::before { content: '\E06A'; }
	&--fiber_new::before { content: '\E05E'; }
	&--fiber_manual_record::before { content: '\E061'; }
	&--fiber_dvr::before { content: '\E05D'; }
	&--festival::before { content: '\EA68'; }
	&--fence::before { content: '\F1F6'; }
	&--feedback::before { content: '\E87F'; }
	&--featured_video::before { content: '\E06E'; }
	&--featured_play_list::before { content: '\E06D'; }
	&--favorite_outline::before { content: '\E87E'; }
	&--favorite_border::before { content: '\E87E'; }
	&--favorite::before { content: '\E87D'; }
	&--fastfood::before { content: '\E57A'; }
	&--fast_rewind::before { content: '\E020'; }
	&--fast_forward::before { content: '\E01F'; }
	&--family_restroom::before { content: '\F1A2'; }
	&--fact_check::before { content: '\F0C5'; }
	&--face_retouching_natural::before { content: '\EF4E'; }
	&--face::before { content: '\E87C'; }
	&--group_work::before { content: '\E886'; }
	&--group_add::before { content: '\E7F0'; }
	&--group::before { content: '\E7EF'; }
	&--grid_view::before { content: '\E9B0'; }
	&--grid_on::before { content: '\E3EC'; }
	&--grid_off::before { content: '\E3EB'; }
	&--grass::before { content: '\F205'; }
	&--graphic_eq::before { content: '\E1B8'; }
	&--grain::before { content: '\E3EA'; }
	&--grading::before { content: '\EA4F'; }
	&--gradient::before { content: '\E3E9'; }
	&--grade::before { content: '\E885'; }
	&--gps_off::before { content: '\E1B5'; }
	&--gps_not_fixed::before { content: '\E1B4'; }
	&--gps_fixed::before { content: '\E1B3'; }
	&--golf_course::before { content: '\EB45'; }
	&--goat::before { content: '\DBFF'; }
	&--gif::before { content: '\E908'; }
	&--get_app::before { content: '\E884'; }
	&--gesture::before { content: '\E155'; }
	&--gavel::before { content: '\E90E'; }
	&--games::before { content: '\E021'; }
	&--gamepad::before { content: '\E30F'; }
	&--g_translate::before { content: '\E927'; }
	&--hvac::before { content: '\F10E'; }
	&--https::before { content: '\E88D'; }
	&--http::before { content: '\E902'; }
	&--how_to_vote::before { content: '\E175'; }
	&--how_to_reg::before { content: '\E174'; }
	&--house_siding::before { content: '\F202'; }
	&--house::before { content: '\EA44'; }
	&--hourglass_top::before { content: '\EA5B'; }
	&--hourglass_full::before { content: '\E88C'; }
	&--hourglass_empty::before { content: '\E88B'; }
	&--hourglass_disabled::before { content: '\EF53'; }
	&--hourglass_bottom::before { content: '\EA5C'; }
	&--hotel::before { content: '\E53A'; }
	&--hot_tub::before { content: '\EB46'; }
	&--horizontal_split::before { content: '\E947'; }
	&--horizontal_rule::before { content: '\F108'; }
	&--home_work::before { content: '\EA09'; }
	&--home_repair_service::before { content: '\F100'; }
	&--home_filled::before { content: '\E9B2'; }
	&--home::before { content: '\E88A'; }
	&--history_toggle_off::before { content: '\F17D'; }
	&--history_edu::before { content: '\EA3E'; }
	&--history::before { content: '\E889'; }
	&--highlight_remove::before { content: '\E888'; }
	&--highlight_off::before { content: '\E888'; }
	&--highlight_alt::before { content: '\EF52'; }
	&--highlight::before { content: '\E25F'; }
	&--high_quality::before { content: '\E024'; }
	&--help_outline::before { content: '\E8FD'; }
	&--help_center::before { content: '\F1C0'; }
	&--help::before { content: '\E887'; }
	&--height::before { content: '\EA16'; }
	&--hearing_disabled::before { content: '\F104'; }
	&--hearing::before { content: '\E023'; }
	&--healing::before { content: '\E3F3'; }
	&--headset_off::before { content: '\E33A'; }
	&--headset_mic::before { content: '\E311'; }
	&--headset::before { content: '\E310'; }
	&--hdr_weak::before { content: '\E3F2'; }
	&--hdr_strong::before { content: '\E3F1'; }
	&--hdr_on::before { content: '\E3EE'; }
	&--hdr_off::before { content: '\E3ED'; }
	&--hdr_enhanced_select::before { content: '\EF51'; }
	&--hd::before { content: '\E052'; }
	&--hardware::before { content: '\EA59'; }
	&--handyman::before { content: '\F10B'; }
	&--hail::before { content: '\E9B1'; }
	&--iso::before { content: '\E3F6'; }
	&--ios_share::before { content: '\E6B8'; }
	&--invert_colors_on::before { content: '\E891'; }
	&--invert_colors_off::before { content: '\E0C4'; }
	&--invert_colors::before { content: '\E891'; }
	&--inventory::before { content: '\E179'; }
	&--integration_instructions::before { content: '\EF54'; }
	&--insights::before { content: '\F092'; }
	&--insert_photo::before { content: '\E251'; }
	&--insert_link::before { content: '\E250'; }
	&--insert_invitation::before { content: '\E24F'; }
	&--insert_emoticon::before { content: '\E24E'; }
	&--insert_drive_file::before { content: '\E24D'; }
	&--insert_comment::before { content: '\E24C'; }
	&--insert_chart_outlined::before { content: '\E26A'; }
	&--insert_chart::before { content: '\E24B'; }
	&--input::before { content: '\E890'; }
	&--info_outline::before { content: '\E88F'; }
	&--info::before { content: '\E88E'; }
	&--indeterminate_check_box::before { content: '\E909'; }
	&--inbox::before { content: '\E156'; }
	&--important_devices::before { content: '\E912'; }
	&--import_export::before { content: '\E0C3'; }
	&--import_contacts::before { content: '\E0E0'; }
	&--imagesearch_roller::before { content: '\E9B4'; }
	&--image_search::before { content: '\E43F'; }
	&--image_not_supported::before { content: '\F116'; }
	&--image_aspect_ratio::before { content: '\E3F5'; }
	&--image::before { content: '\E3F4'; }
	&--icecream::before { content: '\EA69'; }
	&--keyboard_arrow_right::before { content: '\E315'; }
	&--keyboard_arrow_left::before { content: '\E314'; }
	&--keyboard_arrow_down::before { content: '\E313'; }
	&--keyboard_backspace::before { content: '\E317'; }
	&--keyboard_arrow_up::before { content: '\E316'; }
	&--keyboard_capslock::before { content: '\E318'; }
	&--keyboard_control::before { content: '\E5D3'; }
	&--keyboard_return::before { content: '\E31B'; }
	&--keyboard_voice::before { content: '\E31D'; }
	&--keyboard_hide::before { content: '\E31A'; }
	&--keyboard_tab::before { content: '\E31C'; }
	&--king_bed::before { content: '\EA45'; }
	&--keyboard::before { content: '\E312'; }
	&--kitchen::before { content: '\EB47'; }
	&--lunch_dining::before { content: '\EA61'; }
	&--loyalty::before { content: '\E89A'; }
	&--low_priority::before { content: '\E16D'; }
	&--loupe::before { content: '\E402'; }
	&--loop::before { content: '\E028'; }
	&--looks_two::before { content: '\E401'; }
	&--looks_one::before { content: '\E400'; }
	&--looks_6::before { content: '\E3FF'; }
	&--looks_5::before { content: '\E3FE'; }
	&--looks_4::before { content: '\E3FD'; }
	&--looks_3::before { content: '\E3FB'; }
	&--looks::before { content: '\E3FC'; }
	&--logout::before { content: '\E9BA'; }
	&--login::before { content: '\EA77'; }
	&--lock_outline::before { content: '\E899'; }
	&--lock_open::before { content: '\E898'; }
	&--lock_clock::before { content: '\EF57'; }
	&--lock::before { content: '\E897'; }
	&--location_searching::before { content: '\E1B7'; }
	&--location_pin::before { content: '\F1DB'; }
	&--location_on::before { content: '\E0C8'; }
	&--location_off::before { content: '\E0C7'; }
	&--location_history::before { content: '\E55A'; }
	&--location_disabled::before { content: '\E1B6'; }
	&--location_city::before { content: '\E7F1'; }
	&--local_taxi::before { content: '\E559'; }
	&--local_shipping::before { content: '\E558'; }
	&--local_see::before { content: '\E557'; }
	&--local_restaurant::before { content: '\E556'; }
	&--local_printshop::before { content: '\E555'; }
	&--local_print_shop::before { content: '\E555'; }
	&--local_post_office::before { content: '\E554'; }
	&--local_police::before { content: '\EF56'; }
	&--local_play::before { content: '\E553'; }
	&--local_pizza::before { content: '\E552'; }
	&--local_phone::before { content: '\E551'; }
	&--local_pharmacy::before { content: '\E550'; }
	&--local_parking::before { content: '\E54F'; }
	&--local_offer::before { content: '\E54E'; }
	&--local_movies::before { content: '\E54D'; }
	&--local_mall::before { content: '\E54C'; }
	&--local_library::before { content: '\E54B'; }
	&--local_laundry_service::before { content: '\E54A'; }
	&--local_hotel::before { content: '\E549'; }
	&--local_hospital::before { content: '\E548'; }
	&--local_grocery_store::before { content: '\E547'; }
	&--local_gas_station::before { content: '\E546'; }
	&--local_florist::before { content: '\E545'; }
	&--local_fire_department::before { content: '\EF55'; }
	&--local_drink::before { content: '\E544'; }
	&--local_dining::before { content: '\E556'; }
	&--local_convenience_store::before { content: '\E543'; }
	&--local_car_wash::before { content: '\E542'; }
	&--local_cafe::before { content: '\E541'; }
	&--local_bar::before { content: '\E540'; }
	&--local_attraction::before { content: '\E53F'; }
	&--local_atm::before { content: '\E53E'; }
	&--local_airport::before { content: '\E53D'; }
	&--local_activity::before { content: '\E53F'; }
	&--live_tv::before { content: '\E639'; }
	&--live_help::before { content: '\E0C6'; }
	&--list_alt::before { content: '\E0EE'; }
	&--list::before { content: '\E896'; }
	&--liquor::before { content: '\EA60'; }
	&--linked_camera::before { content: '\E438'; }
	&--link_off::before { content: '\E16F'; }
	&--link::before { content: '\E157'; }
	&--linear_scale::before { content: '\E260'; }
	&--line_weight::before { content: '\E91A'; }
	&--line_style::before { content: '\E919'; }
	&--lightbulb_outline::before { content: '\E90F'; }
	&--lightbulb::before { content: '\E0F0'; }
	&--library_music::before { content: '\E030'; }
	&--library_books::before { content: '\E02F'; }
	&--library_add_check::before { content: '\E9B7'; }
	&--library_add::before { content: '\E02E'; }
	&--lens::before { content: '\E3FA'; }
	&--legend_toggle::before { content: '\F11B'; }
	&--leak_remove::before { content: '\E3F9'; }
	&--leak_add::before { content: '\E3F8'; }
	&--layers_clear::before { content: '\E53C'; }
	&--layers::before { content: '\E53B'; }
	&--launch::before { content: '\E895'; }
	&--last_page::before { content: '\E5DD'; }
	&--laptop_windows::before { content: '\E321'; }
	&--laptop_mac::before { content: '\E320'; }
	&--laptop_chromebook::before { content: '\E31F'; }
	&--laptop::before { content: '\E31E'; }
	&--language::before { content: '\E894'; }
	&--landscape::before { content: '\E3F7'; }
	&--label_outline::before { content: '\E893'; }
	&--label_off::before { content: '\E9B6'; }
	&--label_important_outline::before { content: '\E948'; }
	&--label_important::before { content: '\E937'; }
	&--label::before { content: '\E892'; }
	&--my_location::before { content: '\E55C'; }
	&--my_library_music::before { content: '\E030'; }
	&--my_library_books::before { content: '\E02F'; }
	&--my_library_add::before { content: '\E02E'; }
	&--music_video::before { content: '\E063'; }
	&--music_off::before { content: '\E440'; }
	&--music_note::before { content: '\E405'; }
	&--museum::before { content: '\EA36'; }
	&--multitrack_audio::before { content: '\E1B8'; }
	&--multiple_stop::before { content: '\F1B9'; }
	&--multiline_chart::before { content: '\E6DF'; }
	&--mp::before { content: '\E9C3'; }
	&--movie_filter::before { content: '\E43A'; }
	&--movie_creation::before { content: '\E404'; }
	&--movie::before { content: '\E02C'; }
	&--move_to_inbox::before { content: '\E168'; }
	&--mouse::before { content: '\E323'; }
	&--motorcycle::before { content: '\E91B'; }
	&--motion_photos_paused::before { content: '\E9C2'; }
	&--motion_photos_on::before { content: '\E9C1'; }
	&--motion_photos_off::before { content: '\E9C0'; }
	&--more_vert::before { content: '\E5D4'; }
	&--more_time::before { content: '\EA5D'; }
	&--more_horiz::before { content: '\E5D3'; }
	&--more::before { content: '\E619'; }
	&--moped::before { content: '\EB28'; }
	&--mood_bad::before { content: '\E7F3'; }
	&--mood::before { content: '\E7F2'; }
	&--monochrome_photos::before { content: '\E403'; }
	&--monitor::before { content: '\EF5B'; }
	&--money_off::before { content: '\E25C'; }
	&--money::before { content: '\E57D'; }
	&--monetization_on::before { content: '\E263'; }
	&--model_training::before { content: '\F0CF'; }
	&--mode_edit::before { content: '\E254'; }
	&--mode_comment::before { content: '\E253'; }
	&--mobile_screen_share::before { content: '\E0E7'; }
	&--mobile_off::before { content: '\E201'; }
	&--mobile_friendly::before { content: '\E200'; }
	&--mms::before { content: '\E618'; }
	&--missed_video_call::before { content: '\E073'; }
	&--miscellaneous_services::before { content: '\F10C'; }
	&--minimize::before { content: '\E931'; }
	&--military_tech::before { content: '\EA3F'; }
	&--microwave::before { content: '\F204'; }
	&--mic_off::before { content: '\E02B'; }
	&--mic_none::before { content: '\E02A'; }
	&--mic_external_on::before { content: '\EF5A'; }
	&--mic_external_off::before { content: '\EF59'; }
	&--mic::before { content: '\E029'; }
	&--messenger_outline::before { content: '\E0CB'; }
	&--messenger::before { content: '\E0CA'; }
	&--message::before { content: '\E0C9'; }
	&--merge_type::before { content: '\E252'; }
	&--menu_open::before { content: '\E9BD'; }
	&--menu_book::before { content: '\EA19'; }
	&--menu::before { content: '\E5D2'; }
	&--memory::before { content: '\E322'; }
	&--meeting_room::before { content: '\EB4F'; }
	&--medical_services::before { content: '\F109'; }
	&--mediation::before { content: '\EFA7'; }
	&--maximize::before { content: '\E930'; }
	&--markunread_mailbox::before { content: '\E89B'; }
	&--markunread::before { content: '\E159'; }
	&--mark_email_unread::before { content: '\F18A'; }
	&--mark_email_read::before { content: '\F18C'; }
	&--mark_chat_unread::before { content: '\F189'; }
	&--mark_chat_read::before { content: '\F18B'; }
	&--mark_as_unread::before { content: '\E9BC'; }
	&--margin::before { content: '\E9BB'; }
	&--maps_ugc::before { content: '\EF58'; }
	&--map::before { content: '\E55B'; }
	&--mail_outline::before { content: '\E0E1'; }
	&--mail::before { content: '\E158'; }
	&--now_widgets::before { content: '\E1BD'; }
	&--now_wallpaper::before { content: '\E1BC'; }
	&--notifications_paused::before { content: '\E7F8'; }
	&--notifications_on::before { content: '\E7F7'; }
	&--notifications_off::before { content: '\E7F6'; }
	&--notifications_none::before { content: '\E7F5'; }
	&--notifications_active::before { content: '\E7F7'; }
	&--notifications::before { content: '\E7F4'; }
	&--notification_important::before { content: '\E004'; }
	&--notes::before { content: '\E26C'; }
	&--note_add::before { content: '\E89C'; }
	&--note::before { content: '\E06F'; }
	&--not_started::before { content: '\F0D1'; }
	&--not_listed_location::before { content: '\E575'; }
	&--not_interested::before { content: '\E033'; }
	&--not_accessible::before { content: '\F0FE'; }
	&--north_west::before { content: '\F1E2'; }
	&--north_east::before { content: '\F1E1'; }
	&--north::before { content: '\F1E0'; }
	&--no_transfer::before { content: '\F1D5'; }
	&--no_stroller::before { content: '\F1AF'; }
	&--no_sim::before { content: '\E0CC'; }
	&--no_photography::before { content: '\F1A8'; }
	&--no_meeting_room::before { content: '\EB4E'; }
	&--no_meals::before { content: '\F1D6'; }
	&--no_food::before { content: '\F1A7'; }
	&--no_flash::before { content: '\F1A6'; }
	&--no_encryption::before { content: '\E641'; }
	&--no_drinks::before { content: '\F1A5'; }
	&--no_cell::before { content: '\F1A4'; }
	&--nights_stay::before { content: '\EA46'; }
	&--nightlight_round::before { content: '\EF5E'; }
	&--nightlife::before { content: '\EA62'; }
	&--night_shelter::before { content: '\F1F1'; }
	&--nfc::before { content: '\E1BB'; }
	&--next_week::before { content: '\E16A'; }
	&--next_plan::before { content: '\EF5D'; }
	&--new_releases::before { content: '\E031'; }
	&--network_wifi::before { content: '\E1BA'; }
	&--network_locked::before { content: '\E61A'; }
	&--network_check::before { content: '\E640'; }
	&--network_cell::before { content: '\E1B9'; }
	&--near_me_disabled::before { content: '\F1EF'; }
	&--near_me::before { content: '\E569'; }
	&--navigation::before { content: '\E55D'; }
	&--navigate_next::before { content: '\E409'; }
	&--navigate_before::before { content: '\E408'; }
	&--nature_people::before { content: '\E407'; }
	&--nature::before { content: '\E406'; }
	&--nat::before { content: '\EF5C'; }
	&--outlined_flag::before { content: '\E16E'; }
	&--outlet::before { content: '\F1D4'; }
	&--outgoing_mail::before { content: '\F0D2'; }
	&--outdoor_grill::before { content: '\EA47'; }
	&--outbox::before { content: '\EF5F'; }
	&--open_with::before { content: '\E89F'; }
	&--open_in_new::before { content: '\E89E'; }
	&--open_in_full::before { content: '\F1CE'; }
	&--open_in_browser::before { content: '\E89D'; }
	&--opacity::before { content: '\E91C'; }
	&--online_prediction::before { content: '\F0EB'; }
	&--ondemand_video::before { content: '\E63A'; }
	&--offline_share::before { content: '\E9C5'; }
	&--offline_pin::before { content: '\E90A'; }
	&--offline_bolt::before { content: '\E932'; }
	&--push_pin::before { content: '\F10D'; }
	&--publish::before { content: '\E255'; }
	&--public_off::before { content: '\F1CA'; }
	&--public::before { content: '\E80B'; }
	&--psychology::before { content: '\EA4A'; }
	&--privacy_tip::before { content: '\F0DC'; }
	&--priority_high::before { content: '\E645'; }
	&--print_disabled::before { content: '\E9CF'; }
	&--print::before { content: '\E8AD'; }
	&--preview::before { content: '\F1C5'; }
	&--present_to_all::before { content: '\E0DF'; }
	&--pregnant_woman::before { content: '\E91E'; }
	&--power_settings_new::before { content: '\E8AC'; }
	&--power_off::before { content: '\E646'; }
	&--power_input::before { content: '\E336'; }
	&--power::before { content: '\E63C'; }
	&--post_add::before { content: '\EA20'; }
	&--portrait::before { content: '\E416'; }
	&--portable_wifi_off::before { content: '\E0CE'; }
	&--pool::before { content: '\EB48'; }
	&--polymer::before { content: '\E8AB'; }
	&--poll::before { content: '\E801'; }
	&--policy::before { content: '\EA17'; }
	&--point_of_sale::before { content: '\F17E'; }
	&--plus_one::before { content: '\E800'; }
	&--plumbing::before { content: '\F107'; }
	&--playlist_play::before { content: '\E05F'; }
	&--playlist_add_check::before { content: '\E065'; }
	&--playlist_add::before { content: '\E03B'; }
	&--play_for_work::before { content: '\E906'; }
	&--play_disabled::before { content: '\EF6A'; }
	&--play_circle_outline::before { content: '\E039'; }
	&--play_circle_filled::before { content: '\E038'; }
	&--play_circle_fill::before { content: '\E038'; }
	&--play_arrow::before { content: '\E037'; }
	&--plagiarism::before { content: '\EA5A'; }
	&--place::before { content: '\E55F'; }
	&--pivot_table_chart::before { content: '\E9CE'; }
	&--pin_drop::before { content: '\E55E'; }
	&--pie_chart_outlined::before { content: '\E6C5'; }
	&--pie_chart::before { content: '\E6C4'; }
	&--picture_in_picture_alt::before { content: '\E911'; }
	&--picture_in_picture::before { content: '\E8AA'; }
	&--picture_as_pdf::before { content: '\E415'; }
	&--photo_size_select_small::before { content: '\E434'; }
	&--photo_size_select_large::before { content: '\E433'; }
	&--photo_size_select_actual::before { content: '\E432'; }
	&--photo_library::before { content: '\E413'; }
	&--photo_filter::before { content: '\E43B'; }
	&--photo_camera_front::before { content: '\EF69'; }
	&--photo_camera_back::before { content: '\EF68'; }
	&--photo_camera::before { content: '\E412'; }
	&--photo_album::before { content: '\E411'; }
	&--photo::before { content: '\E410'; }
	&--phonelink_setup::before { content: '\E0DE'; }
	&--phonelink_ring::before { content: '\E0DD'; }
	&--phonelink_off::before { content: '\E327'; }
	&--phonelink_lock::before { content: '\E0DC'; }
	&--phonelink_erase::before { content: '\E0DB'; }
	&--phonelink::before { content: '\E326'; }
	&--phone_paused::before { content: '\E620'; }
	&--phone_missed::before { content: '\E61F'; }
	&--phone_locked::before { content: '\E61E'; }
	&--phone_iphone::before { content: '\E325'; }
	&--phone_in_talk::before { content: '\E61D'; }
	&--phone_forwarded::before { content: '\E61C'; }
	&--phone_enabled::before { content: '\E9CD'; }
	&--phone_disabled::before { content: '\E9CC'; }
	&--phone_callback::before { content: '\E649'; }
	&--phone_bluetooth_speaker::before { content: '\E61B'; }
	&--phone_android::before { content: '\E324'; }
	&--phone::before { content: '\E0CD'; }
	&--pets::before { content: '\E91D'; }
	&--pest_control_rodent::before { content: '\F0FD'; }
	&--pest_control::before { content: '\F0FA'; }
	&--personal_video::before { content: '\E63B'; }
	&--person_search::before { content: '\F106'; }
	&--person_remove_alt_1::before { content: '\EF67'; }
	&--person_remove::before { content: '\EF66'; }
	&--person_pin_circle::before { content: '\E56A'; }
	&--person_pin::before { content: '\E55A'; }
	&--person_outline::before { content: '\E7FF'; }
	&--person_add_disabled::before { content: '\E9CB'; }
	&--person_add_alt_1::before { content: '\EF65'; }
	&--person_add_alt::before { content: '\EA4D'; }
	&--person_add::before { content: '\E7FE'; }
	&--person::before { content: '\E7FD'; }
	&--perm_scan_wifi::before { content: '\E8A9'; }
	&--perm_phone_msg::before { content: '\E8A8'; }
	&--perm_media::before { content: '\E8A7'; }
	&--perm_identity::before { content: '\E8A6'; }
	&--perm_device_information::before { content: '\E8A5'; }
	&--perm_device_info::before { content: '\E8A5'; }
	&--perm_data_setting::before { content: '\E8A4'; }
	&--perm_contact_calendar::before { content: '\E8A3'; }
	&--perm_contact_cal::before { content: '\E8A3'; }
	&--perm_camera_mic::before { content: '\E8A2'; }
	&--people_outline::before { content: '\E7FC'; }
	&--people_alt::before { content: '\EA21'; }
	&--people::before { content: '\E7FB'; }
	&--pending_actions::before { content: '\F1BB'; }
	&--pending::before { content: '\EF64'; }
	&--pedal_bike::before { content: '\EB29'; }
	&--payments::before { content: '\EF63'; }
	&--payment::before { content: '\E8A1'; }
	&--pause_presentation::before { content: '\E0EA'; }
	&--pause_circle_outline::before { content: '\E036'; }
	&--pause_circle_filled::before { content: '\E035'; }
	&--pause::before { content: '\E034'; }
	&--party_mode::before { content: '\E7FA'; }
	&--park::before { content: '\EA63'; }
	&--panorama_wide_angle_select::before { content: '\EF62'; }
	&--panorama_wide_angle::before { content: '\E40F'; }
	&--panorama_vertical_select::before { content: '\EF61'; }
	&--panorama_vertical::before { content: '\E40E'; }
	&--panorama_photosphere_select::before { content: '\E9CA'; }
	&--panorama_photosphere::before { content: '\E9C9'; }
	&--panorama_horizontal_select::before { content: '\EF60'; }
	&--panorama_horizontal::before { content: '\E40D'; }
	&--panorama_fisheye::before { content: '\E40C'; }
	&--panorama_fish_eye::before { content: '\E40C'; }
	&--panorama::before { content: '\E40B'; }
	&--pan_tool::before { content: '\E925'; }
	&--palette::before { content: '\E40A'; }
	&--pageview::before { content: '\E8A0'; }
	&--pages::before { content: '\E7F9'; }
	&--padding::before { content: '\E9C8'; }
	&--quickreply::before { content: '\EF6C'; }
	&--quick_contacts_mail::before { content: '\E0D0'; }
	&--quick_contacts_dialer::before { content: '\E0CF'; }
	&--queue_play_next::before { content: '\E066'; }
	&--queue_music::before { content: '\E03D'; }
	&--queue::before { content: '\E03C'; }
	&--question_answer::before { content: '\E8AF'; }
	&--query_builder::before { content: '\E8AE'; }
	&--qr_code_scanner::before { content: '\F206'; }
	&--qr_code::before { content: '\EF6B'; }
	&--rv_hookup::before { content: '\E642'; }
	&--run_circle::before { content: '\EF6F'; }
	&--rule_folder::before { content: '\F1C9'; }
	&--rule::before { content: '\F1C2'; }
	&--rtt::before { content: '\E9AD'; }
	&--rss_feed::before { content: '\E0E5'; }
	&--rowing::before { content: '\E921'; }
	&--router::before { content: '\E328'; }
	&--rounded_corner::before { content: '\E920'; }
	&--rotate_right::before { content: '\E41A'; }
	&--rotate_left::before { content: '\E419'; }
	&--rotate_90_degrees_ccw::before { content: '\E418'; }
	&--room_service::before { content: '\EB49'; }
	&--room_preferences::before { content: '\F1B8'; }
	&--room::before { content: '\E8B4'; }
	&--roofing::before { content: '\F201'; }
	&--ring_volume::before { content: '\E0D1'; }
	&--rice_bowl::before { content: '\F1F5'; }
	&--restore_page::before { content: '\E929'; }
	&--restore_from_trash::before { content: '\E938'; }
	&--restore::before { content: '\E8B3'; }
	&--restaurant_menu::before { content: '\E561'; }
	&--restaurant::before { content: '\E56C'; }
	&--reset_tv::before { content: '\E9D9'; }
	&--request_quote::before { content: '\F1B6'; }
	&--report_problem::before { content: '\E8B2'; }
	&--report_off::before { content: '\E170'; }
	&--report::before { content: '\E160'; }
	&--reply_all::before { content: '\E15F'; }
	&--reply::before { content: '\E15E'; }
	&--replay_circle_filled::before { content: '\E9D8'; }
	&--replay_5::before { content: '\E05B'; }
	&--replay_30::before { content: '\E05A'; }
	&--replay_10::before { content: '\E059'; }
	&--replay::before { content: '\E042'; }
	&--repeat_one_on::before { content: '\E9D7'; }
	&--repeat_one::before { content: '\E041'; }
	&--repeat_on::before { content: '\E9D6'; }
	&--repeat::before { content: '\E040'; }
	&--reorder::before { content: '\E8FE'; }
	&--remove_shopping_cart::before { content: '\E928'; }
	&--remove_red_eye::before { content: '\E417'; }
	&--remove_moderator::before { content: '\E9D4'; }
	&--remove_from_queue::before { content: '\E067'; }
	&--remove_done::before { content: '\E9D3'; }
	&--remove_circle_outline::before { content: '\E15D'; }
	&--remove_circle::before { content: '\E15C'; }
	&--remove::before { content: '\E15B'; }
	&--refresh::before { content: '\E5D5'; }
	&--redo::before { content: '\E15A'; }
	&--redeem::before { content: '\E8B1'; }
	&--record_voice_over::before { content: '\E91F'; }
	&--recommend::before { content: '\E9D2'; }
	&--recent_actors::before { content: '\E03F'; }
	&--receipt_long::before { content: '\EF6E'; }
	&--receipt::before { content: '\E8B0'; }
	&--read_more::before { content: '\EF6D'; }
	&--rate_review::before { content: '\E560'; }
	&--ramen_dining::before { content: '\EA64'; }
	&--railway_alert::before { content: '\E9D1'; }
	&--radio_button_unchecked::before { content: '\E836'; }
	&--radio_button_on::before { content: '\E837'; }
	&--radio_button_off::before { content: '\E836'; }
	&--radio_button_checked::before { content: '\E837'; }
	&--radio::before { content: '\E03E'; }
	&--system_update_tv::before { content: '\E8D7'; }
	&--system_update_alt::before { content: '\E8D7'; }
	&--system_update::before { content: '\E62A'; }
	&--sync_problem::before { content: '\E629'; }
	&--sync_disabled::before { content: '\E628'; }
	&--sync_alt::before { content: '\EA18'; }
	&--sync::before { content: '\E627'; }
	&--switch_video::before { content: '\E41F'; }
	&--switch_right::before { content: '\F1D2'; }
	&--switch_left::before { content: '\F1D1'; }
	&--switch_camera::before { content: '\E41E'; }
	&--switch_account::before { content: '\E9ED'; }
	&--swipe::before { content: '\E9EC'; }
	&--swap_vertical_circle::before { content: '\E8D6'; }
	&--swap_vert_circle::before { content: '\E8D6'; }
	&--swap_vert::before { content: '\E8D5'; }
	&--swap_horizontal_circle::before { content: '\E933'; }
	&--swap_horiz::before { content: '\E8D4'; }
	&--swap_calls::before { content: '\E0D7'; }
	&--surround_sound::before { content: '\E049'; }
	&--support_agent::before { content: '\F0E2'; }
	&--support::before { content: '\EF73'; }
	&--supervisor_account::before { content: '\E8D3'; }
	&--supervised_user_circle::before { content: '\E939'; }
	&--superscript::before { content: '\F112'; }
	&--subway::before { content: '\E56F'; }
	&--subtitles_off::before { content: '\EF72'; }
	&--subtitles::before { content: '\E048'; }
	&--subscriptions::before { content: '\E064'; }
	&--subscript::before { content: '\F111'; }
	&--subject::before { content: '\E8D2'; }
	&--subdirectory_arrow_right::before { content: '\E5DA'; }
	&--subdirectory_arrow_left::before { content: '\E5D9'; }
	&--style::before { content: '\E41D'; }
	&--stroller::before { content: '\F1AE'; }
	&--strikethrough_s::before { content: '\E257'; }
	&--streetview::before { content: '\E56E'; }
	&--stream::before { content: '\E9E9'; }
	&--straighten::before { content: '\E41C'; }
	&--storefront::before { content: '\EA12'; }
	&--store_mall_directory::before { content: '\E563'; }
	&--store::before { content: '\E8D1'; }
	&--storage::before { content: '\E1DB'; }
	&--stop_screen_share::before { content: '\E0E3'; }
	&--stop_circle::before { content: '\EF71'; }
	&--stop::before { content: '\E047'; }
	&--sticky_note_2::before { content: '\F1FC'; }
	&--stay_primary_portrait::before { content: '\E0D6'; }
	&--stay_primary_landscape::before { content: '\E0D5'; }
	&--stay_current_portrait::before { content: '\E0D4'; }
	&--stay_current_landscape::before { content: '\E0D3'; }
	&--stars::before { content: '\E8D0'; }
	&--star_rate::before { content: '\F0EC'; }
	&--star_outline::before { content: '\F06F'; }
	&--star_half::before { content: '\E839'; }
	&--star_border::before { content: '\E83A'; }
	&--star::before { content: '\E838'; }
	&--stairs::before { content: '\F1A9'; }
	&--stacked_bar_chart::before { content: '\E9E6'; }
	&--square_foot::before { content: '\EA49'; }
	&--sports_volleyball::before { content: '\EA31'; }
	&--sports_tennis::before { content: '\EA32'; }
	&--sports_soccer::before { content: '\EA2F'; }
	&--sports_rugby::before { content: '\EA2E'; }
	&--sports_motorsports::before { content: '\EA2D'; }
	&--sports_mma::before { content: '\EA2C'; }
	&--sports_kabaddi::before { content: '\EA34'; }
	&--sports_hockey::before { content: '\EA2B'; }
	&--sports_handball::before { content: '\EA33'; }
	&--sports_golf::before { content: '\EA2A'; }
	&--sports_football::before { content: '\EA29'; }
	&--sports_esports::before { content: '\EA28'; }
	&--sports_cricket::before { content: '\EA27'; }
	&--sports_basketball::before { content: '\EA26'; }
	&--sports_baseball::before { content: '\EA51'; }
	&--sports_bar::before { content: '\F1F3'; }
	&--sports::before { content: '\EA30'; }
	&--spellcheck::before { content: '\E8CE'; }
	&--speed::before { content: '\E9E4'; }
	&--speaker_phone::before { content: '\E0D2'; }
	&--speaker_notes_off::before { content: '\E92A'; }
	&--speaker_notes::before { content: '\E8CD'; }
	&--speaker_group::before { content: '\E32E'; }
	&--speaker::before { content: '\E32D'; }
	&--space_bar::before { content: '\E256'; }
	&--spa::before { content: '\EB4C'; }
	&--south_west::before { content: '\F1E5'; }
	&--south_east::before { content: '\F1E4'; }
	&--south::before { content: '\F1E3'; }
	&--source::before { content: '\F1C4'; }
	&--sort_by_alpha::before { content: '\E053'; }
	&--sort::before { content: '\E164'; }
	&--soap::before { content: '\F1B2'; }
	&--snooze::before { content: '\E046'; }
	&--snippet_folder::before { content: '\F1C7'; }
	&--sms_failed::before { content: '\E626'; }
	&--sms::before { content: '\E625'; }
	&--smoking_rooms::before { content: '\EB4B'; }
	&--smoke_free::before { content: '\EB4A'; }
	&--smartphone::before { content: '\E32C'; }
	&--smart_button::before { content: '\F1C1'; }
	&--slow_motion_video::before { content: '\E068'; }
	&--slideshow::before { content: '\E41B'; }
	&--skip_previous::before { content: '\E045'; }
	&--skip_next::before { content: '\E044'; }
	&--single_bed::before { content: '\EA48'; }
	&--sim_card_alert::before { content: '\E624'; }
	&--sim_card::before { content: '\E32B'; }
	&--signal_wifi_off::before { content: '\E1DA'; }
	&--signal_wifi_4_bar_lock::before { content: '\E1D9'; }
	&--signal_wifi_4_bar::before { content: '\E1D8'; }
	&--signal_wifi_0_bar::before { content: '\F0B0'; }
	&--signal_cellular_off::before { content: '\E1D0'; }
	&--signal_cellular_null::before { content: '\E1CF'; }
	&--signal_cellular_no_sim::before { content: '\E1CE'; }
	&--signal_cellular_connected_no_internet_4_bar::before { content: '\E1CD'; }
	&--signal_cellular_alt::before { content: '\E202'; }
	&--signal_cellular_4_bar::before { content: '\E1C8'; }
	&--signal_cellular_0_bar::before { content: '\F0A8'; }
	&--shutter_speed::before { content: '\E43D'; }
	&--shuffle_on::before { content: '\E9E1'; }
	&--shuffle::before { content: '\E043'; }
	&--show_chart::before { content: '\E6E1'; }
	&--short_text::before { content: '\E261'; }
	&--shopping_cart::before { content: '\E8CC'; }
	&--shopping_basket::before { content: '\E8CB'; }
	&--shopping_bag::before { content: '\F1CC'; }
	&--shop_two::before { content: '\E8CA'; }
	&--shop::before { content: '\E8C9'; }
	&--shield::before { content: '\E9E0'; }
	&--share::before { content: '\E80D'; }
	&--settings_voice::before { content: '\E8C8'; }
	&--settings_system_daydream::before { content: '\E1C3'; }
	&--settings_remote::before { content: '\E8C7'; }
	&--settings_power::before { content: '\E8C6'; }
	&--settings_phone::before { content: '\E8C5'; }
	&--settings_overscan::before { content: '\E8C4'; }
	&--settings_input_svideo::before { content: '\E8C3'; }
	&--settings_input_hdmi::before { content: '\E8C2'; }
	&--settings_input_composite::before { content: '\E8C1'; }
	&--settings_input_component::before { content: '\E8C0'; }
	&--settings_input_antenna::before { content: '\E8BF'; }
	&--settings_ethernet::before { content: '\E8BE'; }
	&--settings_display::before { content: '\E8BD'; }
	&--settings_cell::before { content: '\E8BC'; }
	&--settings_brightness::before { content: '\E8BD'; }
	&--settings_bluetooth::before { content: '\E8BB'; }
	&--settings_backup_restore::before { content: '\E8BA'; }
	&--settings_applications::before { content: '\E8B9'; }
	&--settings::before { content: '\E8B8'; }
	&--set_meal::before { content: '\F1EA'; }
	&--sentiment_very_satisfied::before { content: '\E815'; }
	&--sentiment_very_dissatisfied::before { content: '\E814'; }
	&--sentiment_satisfied_alt::before { content: '\E0ED'; }
	&--sentiment_satisfied::before { content: '\E813'; }
	&--sentiment_neutral::before { content: '\E812'; }
	&--sentiment_dissatisfied::before { content: '\E811'; }
	&--sensor_window::before { content: '\F1B4'; }
	&--sensor_door::before { content: '\F1B5'; }
	&--send_and_archive::before { content: '\EA0C'; }
	&--send::before { content: '\E163'; }
	&--self_improvement::before { content: '\EA78'; }
	&--select_all::before { content: '\E162'; }
	&--segment::before { content: '\E94B'; }
	&--security::before { content: '\E32A'; }
	&--search_off::before { content: '\EA76'; }
	&--search::before { content: '\E8B6'; }
	&--sd_storage::before { content: '\E1C2'; }
	&--sd_card::before { content: '\E623'; }
	&--sd::before { content: '\E9DD'; }
	&--screen_share::before { content: '\E0E2'; }
	&--screen_search_desktop::before { content: '\EF70'; }
	&--screen_rotation::before { content: '\E1C1'; }
	&--screen_lock_rotation::before { content: '\E1C0'; }
	&--screen_lock_portrait::before { content: '\E1BF'; }
	&--screen_lock_landscape::before { content: '\E1BE'; }
	&--score::before { content: '\E269'; }
	&--science::before { content: '\EA4B'; }
	&--school::before { content: '\E80C'; }
	&--schedule_send::before { content: '\EA0A'; }
	&--schedule::before { content: '\E8B5'; }
	&--scatter_plot::before { content: '\E268'; }
	&--scanner::before { content: '\E329'; }
	&--saved_search::before { content: '\EA11'; }
	&--save_alt::before { content: '\E171'; }
	&--save::before { content: '\E161'; }
	&--satellite::before { content: '\E562'; }
	&--two_wheeler::before { content: '\E9F9'; }
	&--tv_off::before { content: '\E647'; }
	&--tv::before { content: '\E333'; }
	&--turned_in_not::before { content: '\E8E7'; }
	&--turned_in::before { content: '\E8E6'; }
	&--tune::before { content: '\E429'; }
	&--tty::before { content: '\F1AA'; }
	&--trip_origin::before { content: '\E57B'; }
	&--trending_up::before { content: '\E8E5'; }
	&--trending_neutral::before { content: '\E8E4'; }
	&--trending_flat::before { content: '\E8E4'; }
	&--trending_down::before { content: '\E8E3'; }
	&--translate::before { content: '\E8E2'; }
	&--transit_enterexit::before { content: '\E579'; }
	&--transform::before { content: '\E428'; }
	&--transfer_within_a_station::before { content: '\E572'; }
	&--tram::before { content: '\E571'; }
	&--train::before { content: '\E570'; }
	&--traffic::before { content: '\E565'; }
	&--track_changes::before { content: '\E8E1'; }
	&--toys::before { content: '\E332'; }
	&--tour::before { content: '\EF75'; }
	&--touch_app::before { content: '\E913'; }
	&--topic::before { content: '\F1C8'; }
	&--tonality::before { content: '\E427'; }
	&--toll::before { content: '\E8E0'; }
	&--toggle_on::before { content: '\E9F6'; }
	&--toggle_off::before { content: '\E9F5'; }
	&--today::before { content: '\E8DF'; }
	&--toc::before { content: '\E8DE'; }
	&--title::before { content: '\E264'; }
	&--timer_off::before { content: '\E426'; }
	&--timer_3::before { content: '\E424'; }
	&--timer_10::before { content: '\E423'; }
	&--timer::before { content: '\E425'; }
	&--timeline::before { content: '\E922'; }
	&--timelapse::before { content: '\E422'; }
	&--time_to_leave::before { content: '\E62C'; }
	&--thumbs_up_down::before { content: '\E8DD'; }
	&--thumb_up_off_alt::before { content: '\E9F3'; }
	&--thumb_up_alt::before { content: '\E817'; }
	&--thumb_up::before { content: '\E8DC'; }
	&--thumb_down_off_alt::before { content: '\E9F2'; }
	&--thumb_down_alt::before { content: '\E816'; }
	&--thumb_down::before { content: '\E8DB'; }
	&--theaters::before { content: '\E8DA'; }
	&--theater_comedy::before { content: '\EA66'; }
	&--texture::before { content: '\E421'; }
	&--textsms::before { content: '\E0D8'; }
	&--text_snippet::before { content: '\F1C6'; }
	&--text_rotation_none::before { content: '\E93F'; }
	&--text_rotation_down::before { content: '\E93E'; }
	&--text_rotation_angleup::before { content: '\E93D'; }
	&--text_rotation_angledown::before { content: '\E93C'; }
	&--text_rotate_vertical::before { content: '\E93B'; }
	&--text_rotate_up::before { content: '\E93A'; }
	&--text_format::before { content: '\E165'; }
	&--text_fields::before { content: '\E262'; }
	&--terrain::before { content: '\E564'; }
	&--taxi_alert::before { content: '\EF74'; }
	&--tapas::before { content: '\F1E9'; }
	&--tap_and_play::before { content: '\E62B'; }
	&--takeout_dining::before { content: '\EA74'; }
	&--tag_faces::before { content: '\E420'; }
	&--tag::before { content: '\E9EF'; }
	&--tablet_mac::before { content: '\E331'; }
	&--tablet_android::before { content: '\E330'; }
	&--tablet::before { content: '\E32F'; }
	&--table_view::before { content: '\F1BE'; }
	&--table_rows::before { content: '\F101'; }
	&--table_chart::before { content: '\E265'; }
	&--tab_unselected::before { content: '\E8D9'; }
	&--tab::before { content: '\E8D8'; }
	&--usb::before { content: '\E1E0'; }
	&--upload_file::before { content: '\E9FC'; }
	&--upgrade::before { content: '\F0FB'; }
	&--update::before { content: '\E923'; }
	&--unsubscribe::before { content: '\E0EB'; }
	&--unfold_more::before { content: '\E5D7'; }
	&--unfold_less::before { content: '\E5D6'; }
	&--undo::before { content: '\E166'; }
	&--unarchive::before { content: '\E169'; }
	&--umbrella::before { content: '\F1AD'; }
	&--vpn_lock::before { content: '\E62F'; }
	&--vpn_key::before { content: '\E0DA'; }
	&--volunteer_activism::before { content: '\EA70'; }
	&--volume_up::before { content: '\E050'; }
	&--volume_off::before { content: '\E04F'; }
	&--volume_mute::before { content: '\E04E'; }
	&--volume_down::before { content: '\E04D'; }
	&--voicemail::before { content: '\E0D9'; }
	&--voice_over_off::before { content: '\E94A'; }
	&--voice_chat::before { content: '\E62E'; }
	&--visibility_off::before { content: '\E8F5'; }
	&--visibility::before { content: '\E8F4'; }
	&--vignette::before { content: '\E435'; }
	&--view_week::before { content: '\E8F3'; }
	&--view_stream::before { content: '\E8F2'; }
	&--view_sidebar::before { content: '\F114'; }
	&--view_quilt::before { content: '\E8F1'; }
	&--view_module::before { content: '\E8F0'; }
	&--view_list::before { content: '\E8EF'; }
	&--view_in_ar::before { content: '\E9FE'; }
	&--view_headline::before { content: '\E8EE'; }
	&--view_day::before { content: '\E8ED'; }
	&--view_compact::before { content: '\E42B'; }
	&--view_comfy::before { content: '\E42A'; }
	&--view_comfortable::before { content: '\E42A'; }
	&--view_column::before { content: '\E8EC'; }
	&--view_carousel::before { content: '\E8EB'; }
	&--view_array::before { content: '\E8EA'; }
	&--view_agenda::before { content: '\E8E9'; }
	&--videogame_asset::before { content: '\E338'; }
	&--videocam_off::before { content: '\E04C'; }
	&--videocam::before { content: '\E04B'; }
	&--video_settings::before { content: '\EA75'; }
	&--video_library::before { content: '\E04A'; }
	&--video_label::before { content: '\E071'; }
	&--video_collection::before { content: '\E04A'; }
	&--video_call::before { content: '\E070'; }
	&--vibration::before { content: '\E62D'; }
	&--vertical_split::before { content: '\E949'; }
	&--vertical_align_top::before { content: '\E25A'; }
	&--vertical_align_center::before { content: '\E259'; }
	&--vertical_align_bottom::before { content: '\E258'; }
	&--verified_user::before { content: '\E8E8'; }
	&--verified::before { content: '\EF76'; }
	&--wysiwyg::before { content: '\F1C3'; }
	&--wrong_location::before { content: '\EF78'; }
	&--wrap_text::before { content: '\E25B'; }
	&--workspaces_outline::before { content: '\EA0F'; }
	&--workspaces_filled::before { content: '\EA0D'; }
	&--work_outline::before { content: '\E943'; }
	&--work_off::before { content: '\E942'; }
	&--work::before { content: '\E8F9'; }
	&--wine_bar::before { content: '\F1E8'; }
	&--wifi_tethering::before { content: '\E1E2'; }
	&--wifi_protected_setup::before { content: '\F0FC'; }
	&--wifi_off::before { content: '\E648'; }
	&--wifi_lock::before { content: '\E1E1'; }
	&--wifi_calling::before { content: '\EF77'; }
	&--wifi::before { content: '\E63E'; }
	&--widgets::before { content: '\E1BD'; }
	&--where_to_vote::before { content: '\E177'; }
	&--wheelchair_pickup::before { content: '\F1AB'; }
	&--whatshot::before { content: '\E80E'; }
	&--west::before { content: '\F1E6'; }
	&--weekend::before { content: '\E16B'; }
	&--web_asset::before { content: '\E069'; }
	&--web::before { content: '\E051'; }
	&--wc::before { content: '\E63D'; }
	&--wb_twighlight::before { content: '\EA02'; }
	&--wb_sunny::before { content: '\E430'; }
	&--wb_shade::before { content: '\EA01'; }
	&--wb_iridescent::before { content: '\E436'; }
	&--wb_incandescent::before { content: '\E42E'; }
	&--wb_cloudy::before { content: '\E42D'; }
	&--wb_auto::before { content: '\E42C'; }
	&--waves::before { content: '\E176'; }
	&--waterfall_chart::before { content: '\EA00'; }
	&--water_damage::before { content: '\F203'; }
	&--watch_later::before { content: '\E924'; }
	&--watch::before { content: '\E334'; }
	&--wash::before { content: '\F1B1'; }
	&--warning::before { content: '\E002'; }
	&--wallpaper::before { content: '\E1BC'; }
	&--wallet_travel::before { content: '\E8F8'; }
	&--wallet_membership::before { content: '\E8F7'; }
	&--wallet_giftcard::before { content: '\E8F6'; }
	&--youtube_searched_for::before { content: '\E8FA'; }
	&--zoom_out_map::before { content: '\E56B'; }
	&--zoom_out::before { content: '\E900'; }
	&--zoom_in::before { content: '\E8FF'; }

	&--gitlab {
		background-image: url('../../assets/used/gitlab.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		width: $main-icon-size;
		height: $main-icon-size;
	}
}